.jumbotron {
    background: #f39c12 url("/img/cityscape.png") no-repeat right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 100px 25px;
}

.container-padded {
    padding: 60px 50px;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #95a5a6;
    border-left: 1px solid #95a5a6;
}

.navbar-nav li a:hover {
    color: #bdc3c7 !important;
}

.md-size {
    max-height: 140px;
    max-width: 140px;
}

.img-border {
    border: 5px #95a5a6 solid;
    -webkit-box-shadow: 10px 10px 50px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -19px rgba(0,0,0,0.75);
}

#signup-nav-btn a:hover {
    background-color: #e67e22 !important;
    color: #fff !important;
}

#logout-nav-btn a:hover {
    background-color: #95a5a6 !important;
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.bg-cloud {
    background-color: #95a5a6;
}

.top-padding30px {
    margin-top: 30px;
}

.left-padding30px {
    margin-left: 30px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f39c12;
}

.carousel-indicators li {
    border-color: #f39c12;
}

.carousel-indicators li.active {
    background-color: #e67e22;
}